ul {
    list-style: none;
}

ul li p::before {
    content: "\2022";
    color:  rgb(234, 33, 103) !important;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 29px;
    position: relative;
    top: 1.5px;
}

ul li {
    color: #5a5a5ac9;
}

ul li p {
    word-spacing: 0.5px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat-regular';
    text-align: justify;
    line-height: 27px;
    color: #6b6b6bc7;
    font-stretch: normal;
    margin-bottom: 11px;
}


/* Register Otm page css */

.p-0{
    padding :0 !important;
}

.mb-0{
    margin-bottom: 0 !important;
}

.mr-50{
    margin-right: 50px;
}
.ml-50{
    margin-left: 50px;
}
.overview {
    font-size: 18px;
    font-family: 'montserrat-regular';
    margin-top: 0px;
}
.overview-para{
    font-family: 'montserrat-regular';
    font-size: 14px;
    text-align: justify;
    word-spacing: 4px;
    line-height: 24px;
    color: #525252c9;
    font-weight: 600;
}

.mt-3 {
    margin-top: 3rem;
}

.otm-benefit {
    font-size: 18px;
    font-family: 'montserrat-regular';
}
.bd-left{
    border-left: 1px solid #ed1965; 
}
.otm-title {
    color: #ed1965;
    margin-top: 0px;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 30px;
    word-spacing: 2px;
}

.w-150{
    width: 150px;
}
.stepper-input{
    font-size: 20px;
    height: 35px;
    margin-bottom: 1.8rem;
    border-bottom-color: #d0d0d0;
}



/* media queries for Register Otm */

@media screen and (min-width: 1200) {
.font-size{
    font-size: 19px !important;
}
.page-title{
    font-family: 'montserrat-regular';
}
}
@media screen and (min-width: 992){
.mr-50 {
    margin-right: 0px !important;
    margin-bottom: 50px;
}
}
@media screen and (min-width: 768) {
.ml-50 { 
    margin-left: 0px !important;
    padding: 20px;
}
}
@media screen and (min-width: 475){
.ml-50{
 margin-left: 0px !important;
}
.mr-50{
margin-right: 0px !important;
}
}
@media screen and (min-width: 380){

}